.select {
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: var(--primary-40);
  color: var(--neutral-00);
  cursor: pointer;

  option {
    background-color: var(--primary-40);
    color: var(--neutral-00);
  }
}

.hiddenLabel {
  height: 0;
  width: 0;
  overflow: hidden;
}
