.select {
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  min-width: 10rem;
  min-height: 1.5rem;
  outline: 0;
  background-color: var(--primary-40);
  color: var(--neutral-00);
  cursor: pointer;

  option {
    background-color: var(--primary-40) !important;
    color: var(--neutral-00) !important;
    cursor: pointer;
    padding: 10px;
  }
}
