.container {
  overflow-x: auto;
}

.header {
  text-align: left;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--neutral-300);
}

.headerWidth {
  width: 30%;
}

.expandable {
  cursor: pointer;
  width: 100%;
}

.iconButton {
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.childRowContent {
  padding-left: 2.5rem;
  color: var(--neutral-600);
}
