.card {
  gap: 1rem;
}

.postContainer {
  --card-max-length: 40rem;
  margin: 0 2rem;
}

.post {
  border-radius: 1rem;
  color: white;
  max-width: var(--card-max-length);

  &.post-darkBlue {
    background-color: var(--post-darkBlue-light);
  }
  &.post-green {
    background-color: var(--post-green-light);
  }
  &.post-blue {
    background-color: var(--post-blue-light);
  }
  &.post-orange {
    background-color: var(--post-orange-light);
  }
}

.header {
  position: relative;
  color: white;

  @media screen and (max-width: 64rem) {
    padding: 1rem 0.5rem;
  }
}

.progress {
  border-radius: 1rem;
}

.content {
  position: relative;
  gap: 0.5rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.emissionSources {
  max-width: var(--card-max-length);
}

.icon {
  width: auto;
  height: 1.5rem;

  path {
    fill: white;
  }

  @media screen and (max-width: 50rem) {
    display: none;
  }
}

.validated {
  color: var(--warning);

  &.success {
    color: var(--success-100);
  }
}

.progressBar {
  background: var(--warning);

  &.success {
    background: var(--success-100);
  }
}
