.card {
  gap: 1rem;
}

.post {
  border-radius: 1rem;
  color: white;

  &.post-darkBlue {
    background-color: var(--post-darkBlue-light);
  }
  &.post-green {
    background-color: var(--post-green-light);
  }
  &.post-blue {
    background-color: var(--post-blue-light);
  }
  &.post-orange {
    background-color: var(--post-orange-light);
  }
}

.header {
  position: relative;
  color: white;

  @media screen and (max-width: 64rem) {
    padding: 1rem 0.5rem;
  }
}

.progress {
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  &.progress-green {
    background-color: var(--post-green-dark);
  }

  &.progress-darkBlue {
    background-color: var(--post-darkBlue-dark);
  }

  &.progress-blue {
    background-color: var(--post-blue-dark);
  }

  &.progress-orange {
    background-color: var(--post-orange-dark);
  }
}

.content {
  position: relative;
  gap: 0.5rem;
}

.icon {
  width: auto;
  height: 1.5rem;

  @media screen and (max-width: 50rem) {
    display: none;
  }
}

.role {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  min-width: 5rem;
}

.validator {
  background-color: var(--validator-background);
}
.editor {
  background-color: var(--editor-background);
}
.reader {
  background-color: var(--reader-background);
}
.contributor {
  background-color: var(--contributor-background);
}

.validated {
  color: var(--warning);

  &.success {
    color: var(--success-100);
  }
}

.progressBar {
  background: var(--warning);

  &.success {
    background: var(--success-100);
  }
}
