.card {
  background-color: var(--background-100);
  gap: 1rem;
}

.validator {
  background-color: var(--validator-role);
}
.editor {
  background-color: var(--editor-role);
}
.reader {
  background-color: var(--reader-role);
}
.contributor {
  background-color: var(--contributor-role);
}

.validated {
  color: var(--warning);

  &.success {
    color: var(--success-100);
  }
}
