.card {
  background-color: var(--background-100);
  gap: 1rem;
}

.role {
  background-color: var(--background-200);
}

.validated {
  color: var(--warning);

  &.success {
    color: var(--success-100);
  }
}
