.header {
  gap: 2rem;
}

.selector {
  width: 10rem;
}

.pageInput {
  min-width: 5rem;
}

.filters {
  gap: 1rem;
}

.searchInput {
  input {
    min-width: 20rem;
  }
}

.pagination {
  gap: 0.5rem;
}