.cut {
  /* Neutrals */
  --neutral-50: #ffffff;
  --neutral-100: #f9f7f8;
  --neutral-200: blue;
  --neutral-300: #d5cdd2;
  --neutral-400: #83777f;
  --neutral-500: #0a0317;
  --neutral-600: #080212;
  --neutral-700: #06020e;
  --neutral-800: #040109;
  --neutral-900: #020105;
  --neutral-950: #020105;
}
