.container {
  background-color: var(--mui-palette-grey-200);
  height: 3rem;
}

.bar {
  height: 3rem;
  background: repeating-linear-gradient(var(--mui-palette-secondary-main));
}

.min {
  position: relative;
  right: 0.5rem;
}

.max {
  align-self: end;
  position: relative;
  right: 1rem
}
