.container {
  background-color: var(--mui-palette-grey-200);
  height: 3rem;
}

.bar {
  height: 3rem;
  background: repeating-linear-gradient(var(--mui-palette-secondary-main));
}

.min {
  top: -1.5rem;
  right: 0.5rem;
}

.max {
  align-self: end;
  right: 1rem;
}
