.container {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.postContainer {
  margin: 2px;
}

.green {
  background-color: var(--post-green-light);
}

.darkBlue {
  background-color: var(--post-darkBlue-light);
}

.blue {
  background-color: var(--post-blue-light);
}

.orange {
  background-color: var(--post-orange-light);
}

.icon {
  width: auto;
  height: 2.5rem;

  @media screen and (max-width: 50rem) {
    display: none;
  }
}
