.toolbarContainer {
    bottom: 1rem;
    left: 1rem;
    position: fixed;
    justify-content: center;
    display: flex;
}

.openDrawerButton {
    height: 40px;
    width: 40px;
    background-color: var(--primary-80);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

.studyNavbarContainer {
    display: flex;
    height: 100%;
    background-color: var(--neutral-10) !important;
    height: fit-content;
    width: 14rem;
    top: calc(var(--header-height) + var(--breadcrumb-height)) !important;
}

.link {
    color: var(--primary-80);
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;  
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: fit-content
}