.container {
  background-color: white;
  &:not(:last-child) {
    border-bottom: solid 1px var(--grayscale-700);
  }
  &:hover {
    background-color: var(--primary-50);
  }
}

.tagsContainer {
  min-width: 10rem;
  max-width: 33%;
}

.tagOptions {
  min-width: fit-content;
  max-width: 50vw;
}

.emissionsSourceName {
  /* Useful because we want to align the validated text with text in input (padding added by mui) */
  padding-left: 14px;
}

.header {
  .emissionSource {
    width: 25%;
    min-width: 5rem;
  }

  .emissionFactor {
    width: 35%;
    min-width: 7rem;
  }

  .status {
    font-size: 0.875rem;
    width: 10rem;
    line-height: 1.25rem;
    color: var(--neutral-500);
  }

  @media screen and (max-width: 60rem) {
    flex-direction: column;
    .name {
      max-width: 100%;
    }
  }
  p {
    line-height: 1.25rem;
  }
}

.line {
  position: sticky;
  top: 5rem;
  z-index: 9;
  background-color: inherit;
  border-bottom: solid 1px var(--neutral-200) !important;

  cursor: pointer;
  text-align: left;
  border: none;
  width: 100%;
  line-height: 1rem;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  &:hover {
    .editIcon {
      display: block;
    }
  }
}

.subTitle {
  font-size: 20px;
}

.result {
  margin-right: 1rem;
  margin-left: 1rem;
}

.resultText {
  font-size: 1.25rem;
  width: 9rem;
  line-height: 1.25rem;
  color: var(--neutral-500);
}

.resultQuality {
  font-size: 1rem;
}

@keyframes grid-expand {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}

.editFEQualityButton {
  color: var(--primary-500);
  cursor: pointer;
  &:hover {
    color: var(--primary-800);
  }
}

.resetFESpecific {
  color: var(--primary-500);
  cursor: pointer;
  width: fit-content;
  &:hover {
    text-decoration: underline;
    color: var(--primary-800);
  }
}

.detail {
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.displayed {
  min-height: 0;
  height: auto;
}

.detailContent {
  margin: -0.25rem 0 0.5rem 0;
  padding: 1rem;
}

.row {
  justify-content: space-between;
  gap: 1rem;
  > div {
    flex: 1;
  }

  @media screen and (max-width: 60rem) {
    flex-direction: column;
  }

  &.quality {
    flex-wrap: wrap;

    .qualitySelect {
      min-width: 12rem;
    }
  }

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.optionnalFields {
  flex: 2 !important;
}

.shrinked {
  justify-content: flex-start;
  > div {
    flex: 1;
  }
}

.expandButton {
  height: 3.5rem;
}

.small {
  max-width: 15rem;
}

.inputWithUnit {
  position: relative;
}

.unit {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.saved {
  color: var(--success-100);
  gap: 0.5rem;
}

.statusLabel {
  border: 2px solid;
  &.validated {
    border-color: var(--success-100);
    color: var(--success-100);
  }
  &.working {
    border-color: var(--warning);
    color: var(--warning);
  }
}

.expandButton {
  height: 3.5rem;
}

.alpha {
  flex: 0;
  width: 5rem;
}
