.card {
  background-color: var(--organization-card-bg);
  gap: 1rem;
}

.studyName {
  text-decoration: none;
  color: var(--green-500);
  background-color: var(--green-200);
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: fit-content;
}

.validated {
  color: var(--orange-500);

  &.success {
    color: var(--green-500);
  }
}
