.subPosts {
  gap: 1rem;
}

.value {
  font-size: 0.875rem;
  color: var(--neutral-500);
}

.contributors {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.subPostContainer {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: solid 1px var(--grayscale-700);
  height: 5rem;
}

.subPostDetailsContainer {
  position: relative;
}

.searchInput {
  input {
    min-width: 10rem;
  }
}
