.button {
  color: var(--neutral-00);

  &:hover {
    color: var(--primary-20);
  }
}

.modal {
  background-color: var(--organization-card-bg) !important;
}

.overflowedModal {
  overflow-y: scroll;
}

.optional {
  color: var(--primary-40);
  font-style: italic;
}

.stepSummary {
  opacity: 1 !important;
}

.stepHeader {
  gap: 0.5rem;
}

.validated {
  color: var(--green-500) !important;
}
