.checklistButton {
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  justify-content: center;
  display: flex;
  z-index: 10;
}

.checklistContainer {
  max-height: 60vh !important;
  height: fit-content !important;
  min-width: 30rem;
  width: 30vw;
  border-radius: 1rem 0 0 1rem;
  top: auto !important;
  bottom: 7rem !important;
  overflow-x: hidden !important;
  border: var(--border) !important;
  padding: 0.5rem;

  hr {
    color: var(--neutral-300) !important;
  }
}

.drawer {
  background-color: var(--background-100) !important;
}

.centered {
  justify-content: center !important;
}

.optional {
  color: var(--primary-500);
  font-style: italic;
}

.stepSummary {
  opacity: 1 !important;
}

.stepHeader {
  gap: 0.5rem;
}

.validated {
  color: var(--success-100) !important;
}