.container {
  height: 3.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.checkbox {
  padding-left: 0 !important;
}

.field {
  width: 15rem;
  margin: 0 !important;
}

.list {
  list-style-position: inside;
  list-style-type: initial;
}

.subList {
  ul {
    padding-left: 1rem;
    list-style-position: inside;
    list-style-type: circle;
  }
}
