.formControl {
  width: 100%;
}

.menuPaper {
  max-height: 25rem;
}

.searchItem {
  padding: 0.5rem;
  cursor: default;
}

.searchItem:hover {
  background-color: transparent;
}

.searchInput {
  width: 100%;
}

.groupHeader {
  font-weight: 600;
  color: var(--mui-palette-text-primary);
  background-color: var(--mui-palette-background-default);
  line-height: 2.5rem;
}

.indentedItem {
  padding-left: 2rem;
}
