.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 34rem;
  width: 60%;
  max-width: 60rem !important;
  max-height: 80%;
  padding: 1.5rem;
}

.big {
  height: 90%;
  width: 90%;
  max-height: 90% !important;
  max-width: 90% !important;
}

.closeIcon {
  padding: 0 !important;
  min-width: 0 !important;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
}

.actions {
  gap: 1rem;
}

.error {
  font-size: small;
  color: var(--error-100);
}
