.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 34rem;
  width: 60%;
  max-width: 60rem !important;
}

.closeIcon {
  padding: 0 !important;
  min-width: 0 !important;
}

.actions {
  gap: 1rem;
}
