<html>
  <%- include('../partials/style'); %>
  <body>
    <div>
      <p>Bonjour,</p>
      <br />
      <p>
        Bienvenue sur le calculateur Clicks On Act ! Vous avez fait une demande d'activation de votre compte. Pour finaliser celle-ci, veuillez cliquer sur
        <a href="<%= link %>">ce lien</a>.
      </p>
      <br />
      <%- include('./partials/faq'); %>
      <br />
      <%- include('./partials/signature'); %>
    </div>
  </body>
</html>
