.content {
  margin-top: var(--header-height);
  overflow-y: auto;
}

.container {
  display: flex;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.box {
  background-color: var(--neutral-00);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
