.scopeGrid {
  grid-template-columns: repeat(3, 1fr);
}

.scopeGrid > div {
  min-width: 0;
}

.tagFilter {
  min-width: 0 !important;
  max-width: 100% !important;
}

.postSubPostFilter {
  min-width: 0 !important;
  max-width: 100% !important;
}
