<html>
  <%- include('./partials/style'); %>
  <body>
    <div>
      <p>Bonjour,</p>
      <br />
      <p>
        Bienvenue sur le BC+ ! Vous avez fait une demande d'activation de votre compte. Pour finaliser celle-ci, veuillez cliquer sur
        <a href="<%= link %>">ce lien</a>.
      </p>
      <p>
        En cas de question vous pouvez consulter
        <a href="https://association-pour-la-transition-1.gitbook.io/bc+">notre FAQ</a> ou nous envoyer un email à
        <a href="mailto:<%= support %>"><%= support %></a>.
      </p>
      <br />
      <p>Bonne journée,</p>
      <p>Cordialement,</p>
      <p>L'équipe BC+</p>
    </div>
  </body>
</html>
