<html>
  <%- include('./partials/style'); %>
  <body>
    <div>
      Vous avez activé votre compte. Vous pouvez maintenant initialiser votre mot de passe afin de pouvoir vous
      connecter :
      <a href="<%= link %>"> Initialiser mon mot de passe </a>
    </div>
  </body>
</html>
