<html>
  <%- include('./partials/style'); %>
  <body>
    <div>
      Accepter l'invitation pour définir votre mot de passe :
      <a href="<%= link %>"> Accepter l'invitation </a>
    </div>
  </body>
</html>
