.deleteButton {
  min-height: fit-content;
  height: 3.5rem;
}

.multiSelectForm {
  width: 50%;
}

.selectForm {
  width: 40%;
}

.postContainer {
  margin-bottom: 1.5rem;
}

.errorSubposts {
  position: absolute;
  bottom: -20px;
  left: 0;
}
