.wrapper {
  display: flex;
}

.label {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: var(--primary);
}

@media (min-width: 1024px) {
  .label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
  }
}