.familyName {
  font-size: 2rem;
}

.familyNameButton {
  height: 2.5rem;
}

.tags {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
  max-height: 8rem;
  overflow-x: auto;
  width: max-content;
}

.tag {
  max-width: 16rem;
  width: fit-content;
}

.form {
  max-width: 30rem;
}

.colorInput {
  max-height: fit-content;
}

.gapped {
  gap: 1rem;
}

.selector {
  width: 10rem;
}
