.families {
  display: flex;
}

.familyNameButton {
  height: 2.5rem;
  min-width: 0;
}

.addFamilyButton {
  height: 2.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 8rem;
  max-width: 16rem;
  overflow-x: auto;
  width: max-content;
}

.form {
  max-width: 30rem;
}

.colorInput {
  max-height: fit-content;
}

.selector {
  width: 10rem;
}
