.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 0;
  top: 50vh;
  transform: translateY(-50%);
  max-width: 90%;
  height: auto;
}

.container {
  position: absolute;
  width: 75%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
}

.loginForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  border: var(--border-dark);
  border-radius: 0 1rem 1rem 0;
}

.welcome {
  display: flex;
  justify-content: flex-end;
}

.welcomeLogo {
  height: auto;
  width: 50%;
  align-items: end;
}

.info {
  background-color: var(--primary-60);
  border: var(--border-dark);
  border-radius: 1rem 0 0 1rem;
  padding: 2rem;
  color: white;
  text-align: center;
  flex: 1;
}

.image {
  height: auto;
  width: 100%;
}

.title {
  margin-bottom: 1rem !important;
}
