.logo {
  position: absolute;
  left: 0;
  top: 50vh;
  transform: translateY(-50%);
  max-width: 90%;
  height: auto;
}

.container {
  position: absolute;
  width: 75%;
  max-width: 62rem;
}

.loginForm {
  padding: 2rem;
  border: var(--border-dark);
  border-radius: 0 1rem 1rem 0;
}

.welcomeLogo {
  height: auto;
  width: 50%;
}

.info {
  background-color: var(--primary-60);
  border: var(--border-dark);
  border-radius: 1rem 0 0 1rem;
  color: white;
}

.image {
  height: auto;
}

.title {
  margin-bottom: 1rem !important;
}
