.card {
  gap: 1rem;
  padding: 2rem;
}

.post {
  padding: 1rem;
  background-color: var(--primary-20);
  border-radius: 1rem;
  color: white;
}

.name {
  color: var(--green-500);
}

.role {
  padding: 0.5rem;
  color: var(--orange-500);
  background-color: var(--orange-200);
  border-radius: 2rem;
  min-width: 5rem;
}

.emissionSources {
  background-color: var(--orange-200);

  &.allValidated {
    background-color: var(--green-200);
  }
}

.validated {
  color: var(--orange-500);

  &.success {
    color: var(--green-500);
  }
}
