.container {
  min-height: calc(100vh - var(--total-header-height));
}

.emptyStateCard {
  gap: 1rem;
  padding: 3rem 2.5rem;
  text-align: center;
  max-width: 600px;
}

.emptyStateCard h5 {
  font-size: 1.25rem;
  font-weight: 700;
}
