.card {
  border: 2px solid var(--mui-palette-primary-main);
  border-radius: 1rem;
}

.cardContent {
  padding: 0rem !important;
}

.cardHeader {
  background: var(--mui-palette-primary-light);
  min-height: 6.5rem;
}

.cardLinks {
  padding: 0.7rem;
}

.linkButton {
  background: none;
  border: none;
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
}
