.title {
  color: var(--neutral-100);
  gap: 1rem;
}

.block {
  margin: auto;
  padding-top: 3rem;
}

.content {
  position: relative;
}

.children {
  padding-bottom: 2rem;
}

.withMargin {
  margin-top: 2rem;
}

.icon,
.bigIcon {
  svg {
    width: auto;
  }
}

.bigIcon {
  svg {
    height: 2rem;
  }
}

.icon {
  svg {
    height: 1.5rem;
  }
}