.button {
  background-color: var(--primary-500) !important;
  color: var(--white) !important;
  border-radius: 0.5rem !important;
  width: fit-content;
  text-transform: unset !important;
  border: 1px solid var(--primary-500) !important;

  &:hover {
    background-color: var(--primary-800) !important;
    border-color: var(--primary-800) !important;
  }

  &[aria-disabled='true'],
  &:disabled {
    background-color: var(--neutral-300) !important;
    border-color: var(--neutral-300) !important;
  }
}

.secondary {
  background-color: var(--white) !important;
  color: var(--primary-500) !important;
  border-color: var(--primary-500) !important;

  &:hover {
    background-color: var(--white) !important;
    color: var(--primary-800) !important;
    border-color: var(--primary-800) !important;
  }
}
.error {
  background-color: var(--error-700) !important;
  border-color: var(--error-700) !important;
  &:hover {
    background-color: var(--error-800) !important;
    border-color: var(--error-800) !important;
  }
}
