.button {
  background-color: var(--primary-40) !important;
  color: var(--neutral-00) !important;
  width: fit-content !important;
  border-radius: 0.25rem !important;
  text-transform: unset !important;

  &:hover {
    background-color: var(--primary-60) !important;
  }

  &.disabled,
  &:disabled {
    background-color: var(--neutral-30) !important;
  }
}
.error {
  background-color: var(--error-40) !important;
  &:hover {
    background-color: var(--error-60) !important;
  }
}
