.toast {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  transform: translateX(-50%);
  background-color: var(--mui-palette-success-main);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 9999;
  max-width: 36rem;
  min-width: 20rem;
}

.subtitle a:hover {
  font-weight: 700;
  text-decoration: underline;
}
