.labelContainer {
  margin-top: -0.125rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.subtitle {
  margin-top: -0.125rem;
  font-size: 0.75rem;
  line-height: 1;
  opacity: 0.7;
}
