.labelContainer {
  margin-top: -0.125rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 800;
}

.subtitle {
  margin-top: -0.125rem;
  font-size: 0.85rem;
  line-height: 1;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.validator {
  background-color: var(--validator-background) !important;
}

.editor {
  background-color: var(--editor-background) !important;
}

.reader {
  background-color: var(--reader-background) !important;
}

.contributor {
  background-color: var(--contributor-background) !important;
}
