.line {
  &:hover,
  td {
    padding: 0.75rem 1rem;
  }
}

.pagination {
  gap: 0.5rem;
}

.pageInput {
  min-width: 5rem;
}

.selector {
  width: 10rem;
}

.tableWrapper {
  border-radius: 0.5rem;
  border-collapse: separate;

  th {
    text-align: left;
    padding: 0.75rem 1rem;
  }

  &.small {
    th {
      padding: 0.5rem 1rem;
    }

    .line {
      &:hover,
      td {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.actionsColumn {
  width: 7rem;
  text-align: right;
}
