.title {
  color: var(--neutral-900);
  gap: 1rem;
}

.icon {
  height: 1.5rem;
  svg {
    height: 1.5rem;
    width: auto;
  }
  &:has(> button) {
    height: 100%;
  }
}

.bigIcon {
  min-height: 2rem;
  svg {
    height: 2rem;
    width: auto;
  }
}

.exp {
  align-self: flex-start;
}
