.actionModal {
  height: 80vh !important;
  max-height: 80vh !important;
}

.stepContent {
  padding-right: 1rem;
}

.reductionContainer {
  @media (max-width: 1536px) {
    flex-direction: column;
  }
}

.reductionYearContainer :global(.MuiFormControl-root) {
  flex: 1 !important;
}

.reductionValue {
  width: 18rem;
}
