.selector {
  width: 10rem;
}

.pageInput {
  min-width: 5rem;
}

.filters {
  gap: 1rem;
}

.searchInput {
  input {
    min-width: 20rem;
  }
}

.subPostItem {
  padding-left: 2rem !important;
}

.hideFiltersButton {
  width: 0;
  height: 0;
  overflow: hidden;
}

.pagination {
  gap: 0.5rem;
}

.importFrom {
  height: 1.25rem;
  width: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  svg {
    font-size: 1.25rem !important;
  }
}

.line {
  background: white !important;
  &:hover,
  &.open {
    border-color: var(--neutral-400);
    background: var(--background-200) !important;
  }
  td {
    padding: 0.75rem 0.5rem;
  }
}

.cellDiv,
.cellButton {
  background-color: transparent;
  width: 100%;
  border: none;
  text-align: inherit;
  display: block;
  font-size: 1rem;
}

.cellButton {
  cursor: pointer;
}

.detail {
  background-color: var(--background-200);
}

.editButton {
  min-width: 0 !important;
}

.modalTable {
  overflow-y: auto;
}

.locationInput {
  min-width: 20rem;
  & .MuiOutlinedInput-root {
    & fieldset {
      border-radius: 0.25rem;
    }
  }
  & .MuiInputBase-input {
    color: black;
  }
}
