.selector {
  width: 10rem;
}

.pageInput {
  min-width: 5rem;
}

.filters {
  gap: 1rem;
}

.searchInput {
  input {
    min-width: 20rem;
  }
}

.subPostItem {
  padding-left: 2rem !important;
}

.hideFiltersButton {
  width: 0;
  height: 0;
  overflow: hidden;
}

.pagination {
  gap: 0.5rem;
}

.importFrom {
  height: 1.25rem;
  width: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  svg {
    font-size: 1.25rem !important;
  }
}

.line {
  &:hover {
    border-color: var(--neutral-400);
    &:nth-child(even) {
      background: var(--neutral-100);
    }
    &:nth-child(odd) {
      background: var(--neutral-300);
    }
  }
}

.cellDiv,
.cellButton {
  background-color: transparent;
  width: 100%;
  border: none;
  text-align: inherit;
  display: block;
  font-size: 1rem;
}

.cellButton {
  cursor: pointer;
}

.detail {
  background-color: white;
  padding: 1rem;
}

.editButton {
  min-width: 0 !important;
}

.modalTable {
  overflow-y: auto;
}
