.header {
  gap: 2rem;
}

.selector {
  width: 10rem;
}

.pageInput {
  min-width: 5rem;
}

.filters {
  gap: 1rem;
}

.searchInput {
  input {
    min-width: 20rem;
  }
}

.pagination {
  gap: 0.5rem;
}

.importFrom {
  height: 1.25rem;
  width: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  svg {
    font-size: 1.25rem !important;
  }
}

.line {
  &:hover {
    background-color: var(--primary-20);
  }
}

.cell {
  padding: 0;
}

.cellButton {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  border: none;
  text-align: inherit;
  display: block;
  font-size: 1rem;
}

.detail {
  background-color: var(--neutral-00);
  padding: 1rem;
}
