.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 8rem;
  gap: 1rem;
  margin-top: 1rem;
}

.listImage {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  width: auto;
  object-fit: contain;
}
