.organizationCard {
  background-color: var(--background-100);
  z-index: 100;
  position: fixed;
  top: var(--header-height);
  height: var(--organization-height);
  border: var(--border);
}

.gapped {
  gap: 0.5rem;
}
