 <p>
   En cas de question vous pouvez consulter
   <a href="https://association-pour-la-transition-1.gitbook.io/bc+">notre FAQ</a> ou nous envoyer un email à
   <a href="mailto:<%= support %>"><%= support %></a>.
 </p>