 <p>
   En cas de question vous pouvez consulter
   <a href="https://association-pour-la-transition-1.gitbook.io/bc+">notre FAQ</a> ou nous envoyer un email à
   <a href="mailto:<%= support %>"><%= support %></a>.
 </p>
 <br />
<p>Très bonne journée,</p>
<p>Cordialement,</p>
<p>L'équipe CUT!</p>
