.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.grow {
  flex: 1;
}
