.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-2 {
  margin: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.p1 {
  padding: 1rem;
}

.p15 {
  padding: 1.5rem;
}

.p2 {
  padding: 2rem;
}

.p-2 {
  padding: 0.5rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}