.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m2 {
  margin: 2rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb0 {
  margin-bottom: 0rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.p1 {
  padding: 1rem;
}

.p125 {
  padding: 1.25rem;
}

.p15 {
  padding: 1.5rem;
}

.p2 {
  padding: 2rem;
}

.p10 {
  padding: 10rem;
}

.p-2 {
  padding: 0.5rem;
}

.p0 {
  padding: 0rem !important;
}

.pr1 {
  padding-right: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt025 {
  padding-top: 0.25rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.h100 {
  height: 100%;
}

.hauto {
  height: auto;
}

.wauto {
  width: auto;
}

.wfit {
  width: fit-content;
}

.w100 {
  width: 100% !important;
}

.w50 {
  width: 50% !important;
}

.gapped025 {
  gap: 0.25rem;
}

.gapped-2 {
  gap: 0.5rem;
}

.gapped075 {
  gap: 0.75rem;
}

.gapped1 {
  gap: 1rem;
}

.gapped15 {
  gap: 1.5rem;
}

.gapped2 {
  gap: 2rem;
}

.gapped4 {
  gap: 4rem;
}

.r1 {
  right: 1rem;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}
