:root {
  --neutral-00: #ffffff;
  --neutral-10: #f9f7f8;
  --neutral-20: #eae5e8;
  --neutral-30: #d5cdd2;
  --neutral-40: #83777f;
  --neutral-50: #6a5f66;
  --neutral-60: #5a5057;
  --neutral-70: #3a3236;
  --neutral-80: #110d10;
  --neutral-100: #000000;

  --primary-10: #d6e2f5;
  --primary-20: #009ac4;
  --primary-40: #346fef;
  --primary-60: #002978;
  --primary-80: #272768;

  --border: 2px solid rgba(27, 91, 245, 0.1);
  --background: rgba(56, 128, 255, 0.05);

  --header-height: 3.5rem;

  --organization-height: 6rem;
  --organization-card-bg: #ebf2ff;

  --success: #13ab27;

  --error: #ff0000;
  --error-40: #e50000;
  --error-60: #990000;
  --error-700: #e04949;

  --greyscale-200: #dbe3ea;
  --greyscale-300: #c4d1dd;
  --greyscale-400: #acbbcd;
  --greyscale-500: #8a9bb7;
  --greyscale-600: #7f8dac;
  --greyscale-700: #6c7896;
  --greyscale-800: #59637a;
  --greyscale-900: #4c5363;
  --greyscale-950: #2c303a;
}
