.pieChart :global(text) {
  fill: var(--mui-palette-text-primary) !important;
  font-size: 1rem !important;
}

.pieChart :global(.MuiPieArcLabel-root) {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.chartTitle {
  font-size: 1rem !important;
  margin-top: -2rem !important;
  margin-bottom: 2rem !important;
}

.chartContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.legend {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.25rem 0;
}

.legendColor {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
