.pieChart :global(text) {
  fill: var(--mui-palette-text-primary) !important;
  font-size: 1rem !important;
}

.pieChart :global(.MuiPieArcLabel-root) {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.chartTitle {
  font-size: 1rem !important;
  margin-top: -2rem !important;
  margin-bottom: 2rem !important;
}
