.subPostsContainer {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0 500ms,
    opacity 500ms linear;

  .subPosts {
    margin-top: -10000px;
    transition: margin-top 500ms ease-in;
  }
}

.link {
  border-radius: 1rem;
  border: solid 4px;
  text-decoration: none;
  outline-offset: 6px;
  width: 15rem;

  &:hover {
    .list {
      color: var(--primary-60);
    }

    .subPostsContainer {
      visibility: visible;
      opacity: 1;
      transition: opacity 500ms linear;

      .subPosts {
        margin-top: 0;
        transition: unset;
      }
    }
  }
}

.green {
  background: linear-gradient(to right, #469478 0%, #469478 45%, #58ba96 55%, #58ba96 100%);
  border-color: #469478;
}

.darkBlue {
  background: linear-gradient(to right, #0c2155 0%, #0c2155 45%, #273f79 55%, #273f79 100%);
  border-color: #0c2155;
}

.blue {
  background: linear-gradient(to right, #2c6498 0%, #2c6498 45%, #377dbe 55%, #377dbe 100%);
  border-color: #2c6498;
}

.orange {
  background: linear-gradient(to right, #c88938 0%, #c88938 45%, #faac47 55%, #faac47 100%);
  border-color: #c88938;
}

.subPosts {
  background-color: var(--neutral-00);
  padding: 0.5rem;
  border-radius: 1rem;

  @media screen and (max-width: 64rem) {
    padding: 0.25rem;
  }

  @media screen and (max-width: 55rem) {
    display: none;
  }
}

.list {
  gap: 0.25rem;
  color: var(--primary-60);

  @media screen and (max-width: 90rem) {
    gap: 0.125rem;
  }
}
