.link {
  border-radius: 1rem;
  border: solid 4px;
  text-decoration: none;
  outline-offset: 6px;

  &:hover {
    .list {
      color: var(--primary-800);
    }
  }
}

.displayChildren {
  .subPostsContainer {
    min-height: 0;
    height: auto;
  }
}

.green {
  border-color: var(--post-green-dark);
  background-color: var(--post-green-light);
}

.darkBlue {
  border-color: var(--post-darkBlue-dark);
  background-color: var(--post-darkBlue-light);
}

.blue {
  border-color: var(--post-blue-dark);
  background-color: var(--post-blue-light);
}

.orange {
  border-color: var(--post-orange-dark);
  background-color: var(--post-orange-light);
}
