.link {
  text-decoration: none;
}

.header {
  position: relative;
  padding: 1rem;
  gap: 0.5rem;
  color: white;

  @media screen and (max-width: 64rem) {
    padding: 1rem 0.5rem;
  }

  span {
    @media screen and (max-width: 90rem) {
      font-size: 0.875rem;
    }

    @media screen and (max-width: 64rem) {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 55rem) {
      font-size: 0.625rem;
    }
  }
}

.content {
  position: relative;
  text-align: center;
}

.title {
  width: 100%;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.icon {
  width: auto;
  height: 1.5rem;

  @media screen and (max-width: 50rem) {
    display: none;
  }
}

.progress {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.progress-green {
    background-color: var(--post-green-dark);
  }

  &.progress-darkBlue {
    background-color: var(--post-darkBlue-dark);
  }

  &.progress-blue {
    background-color: var(--post-blue-dark);
  }

  &.progress-orange {
    background-color: var(--post-orange-dark);
  }
}
