POSTGRES_PRISMA_URL="postgresql://bilancarbone:bilancarbone@localhost:5432/bilancarbone?options=-c search_path=public,common,mip"
NEXTAUTH_SECRET=<secret>
NEXTAUTH_URL=http://localhost:3002
NODE_ENV=development
MAIL_HOST=0.0.0.0
MAIL_PORT=1025
MAIL_USER=user@email.com
MAIL_PASSWORD=test
SUPPORT_EMAIL=support@abc-transitionbascarbone.fr
APP_TARGET=mip
NEXT_PUBLIC_SUPPORT_EMAIL=support@abc-transitionbascarbone.fr
CYPRESS_URL=http://localhost:3002
TARGET_2030_T=7
TARGET_2050_T=2
TARGET_YEAR_1=2030
TARGET_YEAR_2=2050
