POSTGRES_PRISMA_URL="postgresql://bilancarbone:bilancarbone@localhost:5432/bilancarbone?options=-c search_path=public,common,mip"
NEXTAUTH_SECRET=<secret>
NEXTAUTH_URL=http://localhost:3002
NODE_ENV=development
MAIL_HOST=0.0.0.0
MAIL_PORT=1025
MAIL_USER=user@email.com
MAIL_PASSWORD=test
SUPPORT_EMAIL=support@abc-transitionbascarbone.fr