.number {
  text-align: right;
}

.headers th:last-child {
  text-align: right !important;
}

.expandable {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  font-size: inherit;
  margin: -0.5rem;
  padding: 0.5rem;

  &:hover {
    color: var(--primary-500);
  }
}

.notExpandable {
  margin-left: 1.5rem;
  line-height: 1.5rem;
}

.compact,
.compact th,
.compact td,
.compact p {
  font-size: 0.85rem !important;
}

.compact .expandable {
  margin: -0.5rem;
  padding: 0.5rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.compact .notExpandable {
  line-height: 1.25rem;
  font-size: 0.85rem;
  font-weight: 400;
}

.compact tbody tr:last-child .notExpandable {
  font-weight: 600;
}

.compact td {
  padding: 0.2rem 0.5rem;
}

.compact th {
  padding: 0.25rem 0.5rem;
}
