.studyNameLink {
  text-decoration: none;
}

.container {
  position: relative;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;

  fieldset {
    max-width: 20rem;
  }

  @media screen and (max-width: 60rem) {
    flex-direction: column;
    gap: 1rem;

    fieldset {
      max-width: 100%;
    }
  }
}

.selector {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;

  @media screen and (max-width: 60rem) {
    flex-direction: row;
    padding: 2rem 0;
    gap: 1rem;
  }
}

.card {
  gap: 2rem;
  cursor: pointer;
  padding-right: 3rem;
  padding-left: 3rem;

  &.selected {
    border-color: var(--primary-500);
  }
}

.hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.graph {
  width: calc(50% - 1rem);

  @media screen and (max-width: 60rem) {
    width: 100%;
  }
}
