.studyNameLink {
  text-decoration: none;
}

.header {
  align-items: end;
  gap: 1rem;
}

.studyNameContainer {
  flex: 1;
  min-width: 10rem;
}

.seeResultsButton {
  flex-shrink: 0;
  min-width: 10rem;
}

.container {
  position: relative;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;

  fieldset {
    max-width: 20rem;
  }

  @media screen and (max-width: 60rem) {
    flex-direction: column;
    gap: 1rem;

    fieldset {
      max-width: 100%;
    }
  }
}

.selector {
  flex-direction: column;
  padding-right: 2rem;
  gap: 1rem;

  @media screen and (max-width: 60rem) {
    flex-direction: row;
    padding: 2rem 0;
    gap: 1rem;
  }
}

.card {
  gap: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;

  &.selected {
    border-color: var(--primary-500);
  }

  &.disabled {
    background-color: var(--grayscale-100);
  }
}

.hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.helpIcon {
  cursor: pointer;

  &:hover {
    color: var(--primary-800);
  }
}

.gapped {
  gap: 2rem;
}

.analysisContainer {
  gap: 2rem;

  @media screen and (max-width: 75rem) {
    flex-direction: column;
  }
}

.totalBegesGrid {
  display: grid;
  grid-template-columns: repeat(2, 17rem);
  gap: 2rem;
  justify-content: center;
}
