:root {
    --mip-category-dt-bg: #e3f2fd;
    --mip-category-dt-text: #1e88e5;
    --mip-category-transport-bg: #f3e5f5;
    --mip-category-transport-text: #7b1fa2;
    --mip-category-alimentation-bg: #fff3e0;
    --mip-category-alimentation-text: #f57c00;
    --mip-category-divers-bg: #fff8e1;
    --mip-category-divers-text: #fbc02d;
    --mip-category-logement-bg: #e8f5e8;
    --mip-category-logement-text: #2e7d32;
}
