.container {
  background: var(--neutral-10);
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  height: var(--breadcrumb-height);
}

.svg {
  color: var(--neutral-40);
}

.currentPage {
  color: var(--neutral-60);
  width: max-content;
  font-weight: 500;
}

.previousPage {
  flex-wrap: wrap;
  gap: 0.5rem;
}

.link {
  width: max-content;
  color: var(--primary-60) !important;

  &:hover {
    color: var(--primary-40) !important;
  }
}
