.dropzone:hover {
  border-color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-grey-100);
}

.cellName {
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
