.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30%;
}

.input {
  width: 100%;
}

.red,
.green {
  font-size: 0.75rem;
  a {
    font-size: 0.75rem;
  }
}

.green {
  color: var(--success-400);
}

.red {
  color: var(--error-100);
}
