.form {
  gap: 0.5rem !important;
}

.linkedStudiesCard {
  background: var(--mui-palette-primary-light);
  border-radius: 0.5rem;
}

.details {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.badge {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
}

.linkedStudiesCard :global(.MuiAccordionSummary-root) {
  transition: padding 0.2s ease;
  min-height: auto;
}

.linkedStudiesCard:not(.expanded) :global(.MuiAccordionSummary-root) {
  padding: 1rem 1.5rem;
}

.linkedStudiesCard.expanded :global(.MuiAccordionSummary-root) {
  padding: 1.5rem;
}

.linkedStudiesCard :global(.MuiAccordionSummary-content) {
  margin: 0;
}
