.onboardingCard {
  background: #f0faf5;
  border-radius: 0.5rem;
}

.onboardingCard::before {
  display: none;
}

.details {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.badge {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.detailsText a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: var(--primary-500);
  text-decoration: underline;
}
